
/* 
    Created on : Apr 26, 2020, 9:19:49 PM
    Author     : rados
*/



.anchorPaneRoot{

    -fx-background-color: #2368A2;
    -fx-border-top-color: black;
    -fx-border-top: #F1C54C;
    -fx-background-radius :  0 0 0 0;

}



.rootButtons{
    -fx-background-color: transparent;


}

#vBoxMain{
    -fx-background-color: white;
    -fx-alignment: TOP_CENTER;
    

}

.jfx-text-field{
    -fx-border-radius: 20px;
    -fx-background-radius: 20 20 20 20;
    -fx-border-color: #435A9A;
    -jfx-unfocus-color: transparent;
    -fx-text-fill: #435A9A;
    -fx-padding: 3.5 10 3.5 10;
    -jfx-label-float: true;    
}

.cboClient{
    -fx-border-radius: 20px;
    -fx-background-radius: 20 20 20 20;
    -fx-border-color: #F0C326;
    -fx-padding: 0 10 0 10;
    -jfx-unfocus-color: transparent;
    -jfx-focus-color: #F0C326;
    -jfx-label-float: true;
}

.cboClient .cell{
    -fx-text-fill: #F0C326;
}

.cboProject{
    -fx-border-radius: 20px;
    -fx-border-color: #00A99D;
    -jfx-unfocus-color: transparent;
    -jfx-focus-color: #00A99D;
    -jfx-label-float: true;
}

.cboProject .cell{
    -fx-text-fill: #00A99D;
}

.button{
    -fx-background-color: transparent;
}

#lblAllTasks{
    -fx-padding: 10px;

}



.apTaskItem{
    -fx-background-color: #2368A2;  /*blue*/
    -fx-background-radius :  5 5 5 5;
    border-bottom-color: black; 

}

.apTaskEntryItem{
    -fx-background-color: #F1C54C;  /*yellow*/
    -fx-background-radius :  5 5 5 5;
    border-bottom-color: black; 

}



#btnPlayPause{
    -fx-background-color: transparent;

}

.taskItemTextFields{
    /*    -fx-background-color: #ffdc44;*/
    -fx-background-radius :  5 5 5 5;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.taskEntryItemTextFields{
    /*    -fx-background-color: #ffdc44;*/
    -fx-background-radius :  5 5 5 5;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.comboBoxTaskItem{

    -fx-background-color: white;
    -fx-background-radius: 5;
}







