
/* 
    Created on : Apr 26, 2020, 9:19:49 PM
    Author     : rados
*/



.anchorPaneRoot{

    -fx-background-color: #2368A2;
    -fx-border-top-color: black;
    -fx-border-top: #F1C54C;
    -fx-background-radius :  0 0 0 0;

}



.rootButtons{
    -fx-background-color: transparent;


}

#vBoxMain{
    -fx-background-color: white;
    -fx-alignment: TOP_CENTER;
    -fx-padding: 20 ;

}

#lblAllTasks{
    -fx-padding: 10px;

}

.hBoxTaskItem{
    -fx-background-color: #F1C54C;
    -fx-background-radius :  5 5 5 5;
    border-bottom-color: black; 

}

#btnPlayPause{
    -fx-background-color: transparent;

}

.taskItemTextFields{
    /*    -fx-background-color: #ffdc44;*/
    -fx-background-radius :  5 5 5 5;
    -fx-background-color: white;
    -fx-text-fill: black;
}







