
/* 
    Created on : Apr 26, 2020, 9:19:49 PM
    Author     : rados
*/



.anchorPaneRoot{
    -fx-background-color: #435A9A;
    -fx-border-top-color: black;
    -fx-border-top: #F1C54C;
    -fx-background-radius :  0 0 0 0;
}

.rootButtons{
    -fx-background-color: transparent;
    /*-fx-background-color: #435A9A;*/
    -fx-background-radius: 20 20 20 20;
    -fx-padding: 0 0 0 -1;
}

#vBoxMain{
    -fx-background-color: white;
    -fx-alignment: TOP_LEFT;
}

.createItem{
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: #435A9A;
}

.viewItem{
    -fx-background-radius: 15 15 15 15;
    -fx-background-color: #435A9A;    
}

.viewSubItem{
    -fx-background-color: #F0C326;
    -fx-background-radius :  10 10 10 10;
}

.txtCommon{
    -fx-border-radius: 20px;
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: white;
    -jfx-unfocus-color: transparent;    
    -fx-padding: 3.5 5 3.5 5;
    -jfx-label-float: true;    
    -fx-prompt-text-fill: #435A9A;
}

.txtName{
    -jfx-focus-color: #F0C326;
}

.txtNameSpecial{
    -fx-border-radius: 10px;
    -fx-border-color: #F0C326;
    -fx-text-fill: #F0C326;
}

.txtClient{    
    -jfx-focus-color: #F17105;  
}

.txtProject{    
    -jfx-focus-color: #00A99D; 
}

.txtProjectSpecial{
    -fx-border-radius: 10px;
    -fx-border-color: #00A99D;
    -fx-text-fill: #00A99D;
}

.txtTime{
    -jfx-focus-color: #D11149;   
}

.txtDuration{
    -jfx-focus-color: #963484;    
}

.cboCommon{
    -fx-border-radius: 10px;
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: white;    
    -jfx-unfocus-color: transparent;    
    -fx-padding: 0 10 0 10;

    -fx-prompt-text-fill: #435A9A;
}

.cboClient{    
    /*or this color #E40066*/
    -fx-border-color: #F17105;
    -jfx-focus-color: #F17105;
}

.cboClient .cell{
    -fx-text-fill: #F17105;
}

.cboProject{
    -fx-border-color: #00A99D;
    -jfx-focus-color: #00A99D;
}

.cboProject .cell{
    -fx-text-fill: #00A99D;
}

.error-label {
    -fx-padding: -8 0 0 00;
    -fx-text-fill: white;
    -fx-font-size: 8pt;
}

.scroll-pane{
    /*-fx-background: white;
    -fx-border-color: purple;*/
}

.grid-pane{
    -fx-grid-lines-visible: false;
}

.labelHeaderTitle{
    -fx-padding: 10 0 0 0;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #435A9A;
}

.buttonAdmin{    
    -fx-background-color: #435A9A;
    -fx-background-radius: 30 30 30 30;
    -fx-padding: 0 0 0 -1;
}

.labelMenuItem{
    -fx-font-weight: bold;
    -fx-text-fill: #435A9A;
}

#btnPlayPause{
    -fx-background-color: transparent;
}

.comboBoxTaskItem{
    -fx-background-color: white;
    -fx-background-radius: 5;
}

.timePicker{
    -fx-background-color: white;
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 0 0 0 5;
    -jfx-label-float: false; 
}







