
/* 
    Created on : Apr 26, 2020, 9:19:49 PM
    Author     : rados
*/



.btnLogin{
    -fx-background-color: white;
    -fx-background-radius: 10 10 10 10;
    -fx-background-color:#F0C326
}

.anchorPaneRoot{
    -fx-background-color: #435A9A;
    -fx-border-top-color: black;
    -fx-border-top: #F1C54C;
    -fx-background-radius :  0 0 0 0;
}

.rootButtons{
    -fx-background-color: transparent;
    -fx-background-radius: 20 20 20 20;
    -fx-padding: 0 0 0 -1;
}

#vBoxMain{
    -fx-background-color: white;
    -fx-alignment: TOP_LEFT;
}

.createItem{
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: #435A9A;
}

.createItemUser{
    -fx-background-radius: 15 15 15 15;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.viewItem{
    -fx-background-radius: 15px;
    -fx-background-color: #435A9A;    
}

.viewSubItem{
    -fx-background-color: #F0C326;
    -fx-background-radius: 15px;
}

.creatorStackPanePadding{
    -fx-padding: 15px;

}

.txtCommon{
    -fx-border-radius: 20px;
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: white;
    -jfx-unfocus-color: transparent;
    -jfx-focus-color: #F0C326;
    -fx-padding: 3.5 5 3.5 5;
    -jfx-label-float: true;
    -fx-prompt-text-fill: gray;
}

.txtClient{    
    -jfx-focus-color: #F17105;  
}

.txtProject{    
    -jfx-focus-color: #00A99D; 
}

.txtTime{
    -jfx-focus-color: #D11149;   
}

.txtDuration{
    -jfx-focus-color: #963484;    
}

.cboCommon{   
    -fx-padding: 0 10 0 10;
}

.error-label {
    -fx-padding: -8 0 0 00;
    -fx-text-fill: white;
    -fx-font-size: 8pt;
}

.labelHeaderTitle{
    -fx-padding: 10 0 0 0;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #435A9A;
}

.buttonAdmin{    
    -fx-background-color: #435A9A;
    -fx-background-radius: 30 30 30 30;
    -fx-padding: 0 0 0 -1;
}

.labelMenuItem{
    -fx-font-weight: bold;
    -fx-text-fill: #435A9A;
}

.buttonSwitchMode{
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-text-fill: #435A9A;
}

.dateTimePicker{    
    -jfx-default-color: #F0C326;
}

.dateTimePicker .jfx-text-field{
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: white;
    -fx-prompt-text-fill: #F0C326;
    -fx-alignment: CENTER;
    -jfx-label-float: true;
    -jfx-focus-color: #F0C326;
    -jfx-unfocus-color: transparent;    
}

.datePickerFilter .jfx-text-field{
    -fx-font-size: 10;
}

/*Refactor later as it is probably repeated.*/
.datePickerTimeTracker{
    -jfx-default-color: #F0C326;
    -fx-border-width: 2;
    -fx-border-color: #435A9A;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: #435A9A;
}

.datePickerTimeTracker .jfx-text-field{    
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: white;
    -fx-prompt-text-fill: #F0C326;
    -fx-alignment: CENTER;
    -jfx-label-float: true;
    -jfx-focus-color: #F0C326;
    -jfx-unfocus-color: transparent;    
}

#btnPlayPause{
    -fx-background-color: transparent;
}

.comboBoxTaskItem{
    -fx-background-color: white;
    -fx-background-radius: 5;
}

.timePicker{
    -fx-background-color: white;
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 0 0 0 5;
    -jfx-label-float: false; 
}

.labelFilter{
    -fx-border-radius: 10px;
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: white;
    -fx-label-padding: 4 0 4 8;    
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.labelFilterTextColorDefault{
    -fx-text-fill: #435A9A;
}

.labelFilterTextColorHighlight{
    -fx-text-fill: #F0C326;
}

.buttonFilter{
    -fx-border-radius: 10px;
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: white;
    -fx-text-fill: #435A9A;
    -fx-font-weight: bold;
    -fx-font-size: 10;
}

.table-view{
    -fx-border-style: solid;
    -fx-border-width: 0.1;
    -fx-background-color: whitesmoke;
    -fx-border-color: #435A9A;
    /*backgroung of selected row*/
    -fx-selection-bar: #F0C326;
}

.table-row-cell:selected .text {
    /*text of selected row*/
    -fx-fill: black;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #435A9A;
}

.table-view .column-header-background .label{
    -fx-font-weight:bold;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-alignment: CENTER;
}

#tableColLeft{ 
    -fx-padding: 0 0 0 10;
}

#tableColRight{
    -fx-alignment: CENTER_RIGHT;  
    -fx-padding: 0 10 0 0;
}

.chart{
    -fx-border-style: solid;
    -fx-border-width: 0.1;
    -fx-background-color: white;
    -fx-border-color: #435A9A;
}

.onBarchartColumnHover{
    -fx-background-color: #435A9A;
}

.lblActiveFilter{
    -fx-text-fill: white;
    -fx-font-size: 10;
}